@tailwind base;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HSR";
  src: local("HSR"), url("./ja-jp.ttf") format("truetype");
}

* {
  font-family: "HSR";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

option {
  padding: 2em;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #7b7b7e #d6d6d6;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #d6d6d6;
}

*::-webkit-scrollbar-thumb {
  background-color: #7b7b7e;
  border-radius: 10px;
  border: 3px solid #d6d6d6;
}
